# Godot-specific ignores
# .import/ - commented out because it's in this case we want those files
# *.import - same as above: we want the imported files
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
mono_crash.*.*.json

# Project specific
addons/godot-plugin-refresher
.godot
.vscode/

