# Godot-specific ignores
.import/
*.import
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
mono_crash.*.*.json

# Project specific
fontconfig
refences/
saves/
.directory
.vscode/
.*.kra
reference.json

*.ini
